<link rel="stylesheet" href="/css/style1.css">
<link href="../public/css/calendar.css" rel="stylesheet">
<script src="../public/js/calendar.js"></script>



<div class="flex-column justify-space-around" id="bottom-right">
        <header class="display-flex justify-space-between align-center p-2">
            <h5><a href="/message">Direct Message</a></h5>
        </header>
</div>

<div id="cal-wrap">
  <!-- [PERIOD SELECTOR] -->
  <div id="cal-date">
    <select id="cal-mth"></select>
    <select id="cal-yr"></select>
    <input id="cal-set" type="button" value="SET"/>
  </div>

  <!-- [CALENDAR] -->
  <div id="cal-container"></div>

  <!-- [EVENT] -->
  <div id="cal-event"></div>
</div>

