<div class="text-center commBoard" >
  <p>Written by {{owner.name}} on {{format_date date_created}}</p>
  <p>{{content}}</p>





  
  <hr>




  <div class="row mt-4">
  <div class="col-md-12">
    <h4>Leave Feedback</h4>

    <form class="form new-comment-form" value = "3">
      <div class="form-group">
        <label for="post-content">Comment</label>
        <textarea class="form-input" id="post-content" name="post-content"></textarea>
      </div>

        <button id='post_id' type="submit" class="btn btn-primary" value= '{{id}}'>Post</button>
      </div>
    </form>
  </div>
 
</div>

<script src="./js/commentpost.js"></script>