<link rel="stylesheet" href="css/style2.css">
<link href="css/calendar.css" rel="stylesheet">

{{#if logged_in}}
<div class="join-container">
			<header class="join-header">
				<h1><i class="fas fa-dog"></i> Doggie Chat</h1>
			</header>
			<main class="join-main">
				<form action="/rooms">
					<div class="form-control">
						<label for="name">Username</label>
						<input
							type="text"
							name="name"
							id="name"
							placeholder="Enter Your First Name"
							required
						/>
					</div>
					<div class="form-control">
						<label for="room">Room</label>
						<select name="room" id="room">
							<option value="Owners' Lounge">Owners' Lounge</option>
							<option value="Walker Inquiry">Walker Inquiry</option>
						</select>
					</div>
					<button type="submit" class="btnii">Join Chat</button>
				</form>
			</main>
		</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js"></script>
<script src="https://cdn.socket.io/4.0.1/socket.io.min.js" integrity="sha384-LzhRnpGmQP+lOvWruF/lgkcqD+WDVt9fU3H4BWmwP5u5LTmkUGafMcpZKNObVMLU" crossorigin="anonymous"></script>
  <script src="./js/main.js"></script>
{{/if}}