<link rel="stylesheet" href="/css/style1.css">

<div class="flex-column justify-space-around" id="bottom-right">
        <header class="display-flex justify-space-between align-center p-2">
            <h5><a href="/message">Direct Message</a></h5>
        </header>
</div>

