@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
* {
    padding: 0;
    margin: 0;
}
body {
    height: 100%;
    width: 100%;
    background-image: url(../assets/calender.jpeg);
    background-position: center;
    background-size: cover;
    position: absolute;
    font-family: 'Noto Sans JP', sans-serif;
}
.no-button {
    top: 0;
    left: 0;
    width: 110px;
    height:35px;
    background-color: rgb(197, 84, 49) !important;
    border-radius: 30px;
    color: black;
}
a {
    color: black;
}
#bottom-right {
    right: 0;
    bottom: 0;
    position: absolute;
}
